<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>22E9AD0A-86C5-486B-BC8D-D9E7A49E6A2F</string>
				<string>4BD4E685-0BAB-430B-988D-4C16616CDC65</string>
				<string>684AF984-5EC1-4152-9443-60423EA87738</string>
				<string>B0832B13-866B-4460-B13C-90B72DFBBB70</string>
				<string>BAB5A1ED-18CB-4B72-9357-4F7E227B3944</string>
				<string>E486C958-4444-488C-BA29-63C2525DAC2E</string>
				<string>E6C714B2-15CF-45F4-8DC9-FB107ABE82DE</string>
				<string>F265BE6F-2296-4E8C-BFB9-0D639A42A238</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
